<!--Author : Rutvik Patel, Dhruti Patel
        Student Number: 300877075, 300857555
        Date Modified: 24th November 2016
        Description: About page of the restuarant
        page name: About.cshtml
        -->

@{
    ViewBag.Title = "About Us";
}

<div class="jumbotron" style="margin-top:50px">
    <h1>Maggie Wala</h1>
    <img src="~/Assets/Images/mg-logo-be-teksto (1).png" />
</div>

<p>--- >We are serving Fast food lovers since 10 years. We try our best to make our customers happy by serving tasty and delicious food on the plate.</p>
<div>
    <h4>OUR STORY</h4>
    <p>
        --->Here is the story behind this restaurant.
        Mr.John Matte is the founder of this restaurant.He is a maggie lover and one fine day he felt that thier should be a place for maggie lovers to explore variety of maggies.And he came up with this idea to establish this wonderful restaurant.
    </p>
</div>
<div>
    <p>
        --- >We bet you would love our deals and taste so try it out at our restaurant.
    </p>
</div>
<img src="~/Assets/Images/asian.jpg" width="160" height="120"/>
<img src="~/Assets/Images/images (10).jpg" width="160" height="120" />
    
<img src="~/Assets/Images/images (1).jpg" width="160" height="120"/>
<img src="~/Assets/Images/IMG_0304edit.jpg" width="160" height="120"/>
<img src="~/Assets/Images/images.jpg" width="160" height="120"/>
<div>
    <p>
        -->We offer all mordern facilities and comforts to your clients.
        <br />
        -->Recipies from best chiefs around the world.
        <br />
        -->We arrange parties, don't miss chance to celebrate your special days wiith us.
    </p>
</div>

<img src="~/Assets/Images/44.jpg"  width="160" height="120" />
<img src="~/Assets/Images/99.jpg" width="160" height="120"/>
<img src="~/Assets/Images/c.jpg" width="160" height="120" />
<img src="~/Assets/Images/images (3).jpg" width="160" height="120" />
<img src="~/Assets/Images/maggi_647_053015063612_060215043547.jpg" width="160" height="120"/>