<!--Author : Rutvik Patel, Dhruti Patel
        Student Number: 300877075, 300857555
        Date Modified: 24th November 2016
        Description: Contact page of the restuarant
        page name: Contact.cshtml
        -->

@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1 style="text-align:center">MAGGIE WALA</h1>

    <img src="~/Assets/Images/mg-logo-be-teksto (1).png" />
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="col-lg-12 text-center">
                    <h1>Contact Us</h1>
                    <hr class="star-primary">
                </div>
                <form id="contactForm" action="" role="form">
                   
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email" required>
                    </div>
                    <div class="form-group">
                        <label for="contactNumber">Contact Number</label>
                        <input type="tel" class="form-control" id="contactNumber" placeholder="Enter Contact Number" required>
                    </div>
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea cols="3" rows="3" class="form-control" id="message" placeholder="Enter Your Message here..." required></textarea>
                    </div>

                    <div class="text-left">
                        <a id="cancelButton" href="#" class="btn btn-warning">Cancel</a>
                        <button id="sendButton" class="btn btn-primary">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<div class="jumbotron" style="background:none">
    <h3>CONTACT RESTUARANT</h3>
    <h4 style="color:dodgerblue">+1 (416)372-7175</h4>
    <address>
        23 Sophia Drive <br>
        Scarborough ON Canada
    </address>
    <h4>Locate Us!!</h4>
    <img src="~/Assets/Images/your-restaurant-on-google-maps-2.png" />
  
    <p></p>
    <br />
    <br />
    <ul class="list-inline banner-social-buttons button">

        <li>

            <a href="https://twitter.com/" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a>
        </li>
        <li>
            <a href="https://www.facebook.com/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a>
        </li>
        <li>
            <a href="https://plus.google.com/" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google+</span></a>
        </li>

    </ul>

</div>
