<!--Author : Rutvik Patel, Dhruti Patel,Shahzaib Malik
        Student Number: 300877075, 300857555, 300852792
        Date Modified: 24th November 2016
        Description: Index page of the restuarant
        page name: Index.cshtml
        -->

@{
    ViewBag.Title = "Home Page";
}
<div class="w3-container w3-animate-zoom">
    
        <div class="jumbotron" style="margin-top:50px">
            <h1>Maggie Wala</h1>
            <p></p>
        </div>
    </div>


<div class="w3-container w3-animate-bottom">
    <div class="well-lg">
        <div class="col-md-4">
            <div class="jumbotron" style="background:firebrick">
                <a href="@Url.Action("Index", "Soups")"><h1>OUR MENU</h1></a>
            </div>
            
        </div>


        <div class="col-md-4">
            <div class="jumbotron" style="background: khaki;">
                <h1>TAKE OUT</h1>
            </div>

        </div>


        <div class="col-md-4">
            <div class="jumbotron" style="background:slategrey">
                <h1 style="text-align:center">BOOK TABLE</h1>
            </div>
        </div>
    </div>
   </div>

    <div class="col-md-2">
        <div class="jumbotron" style="background-image: url('../../Assets/Images/Taste-Buds-Kitchen-Long-Life-Noodle-Salad.jpg'); height: 100px; width: 150px; background-size: cover">


        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron" style="background-image: url('../../Assets/Images/Maggi-e1406801032895.jpg'); height: 100px; width: 150px;">


        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron" style="background-image: url('../../Assets/Images/maggi_647_053015063612_060215043547.jpg'); height: 100px; width: 150px;">


        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron" style="background-image: url('../../Assets/Images/background-restaurant-basement-setting.jpg'); height: 100px; width: 150px;">


        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron" style="background-image: url('../../Assets/Images/asian.jpg'); height: 100px; width: 150px;">


        </div>
    </div>
    <div class="col-md-2">
        <div class="jumbotron" style="background-image: url('../../Assets/Images/IMG_0304edit.jpg'); height: 100px; width: 150px;">

        </div>
    </div>
